@using DeliverySoftware.Business.Users;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@inject SignInManager<DeliveryUser> SignInManager
@inject UserManager<DeliveryUser> UserManager
@inject UserController UserController

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeliverySoftware</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeliverySoftware.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (SignInManager.IsSignedIn(User))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-card border-bottom box-shadow mb-3">
                <div class="container">
                    <img src="~/images/companylogo.png" title="title" alt="additional title" style="height: 45px; width: auto;" />
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                string _UserID = User.FindFirstValue(ClaimTypes.NameIdentifier);
                                DeliveryUser _CurrentUser = UserController.Get(new Guid(_UserID));

                                if (_CurrentUser.UserType == UserType.Customer)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Customer/OrderTracking">Track My Order</a>
                                    </li>
                                }
                                else if (_CurrentUser.UserType == UserType.Employee)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Delivery/PackageManagement">Packages</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Delivery/DeliveryManagement">Deliveries</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Fleet/FleetManagement">Fleet Management</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Customer/CustomerManagement">Customer Management</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Driver/DriverManagement">Driver Management</a>
                                    </li>
                                }
                                else if (_CurrentUser.UserType == UserType.Driver)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Driver/DeliveryRuns">Available Runs</a>
                                    </li>
                                }
                            }

                        </ul>
                        <ul class="navbar-nav flex-grow-2 ml-auto">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                string _UserID = User.FindFirstValue(ClaimTypes.NameIdentifier);
                                DeliveryUser _CurrentUser = UserController.Get(new Guid(_UserID));
                                string FullName = _CurrentUser.Forename + " " + _CurrentUser.Surname;

                                <li class="nav-item">
                                    <p class="nav-link text-dark">Welcome @FullName!</p>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-page-handler="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }
                        </ul>
                </div>
            </div>
        </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Delivery+ Software Solutions
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>