@page
@model DeliverySoftware.Pages.Account.LoginModel
@{
}

<div class="row">
    <div class="col-lg-6 m-auto bg-light rounded-3 border px-5 pb-5 pt-4 shadow-lg">
        <div class="display-6 text-center">Track Your Order:</div>
        <form method="post" asp-page-handler="LoginWithCode" novalidate>
            <div class="row mt-lg-4">
                <div class="form-group form-floating">
                    <div class="row">
                        <div class="col-lg-10 form-group form-floating">
                            <input class="form-control" id="trackingCode" name="TrackingCode">
                            <label class="ps-4">Enter tracking code:</label>
                        </div>
                        <div class="col-lg-2">
                            <input class="h-100 w-100 btn btn-lg btn-primary" type="submit" value=">">
                        </div>
                        <span class="text-danger">@Html.ValidationMessage("TrackingCode")</span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-4 m-auto bg-light rounded-3 border p-5 shadow-lg">
        <form method="post" asp-page-handler="Login" novalidate>
            <div>
                <div class="row">
                    <div class="form-group form-floating">
                        <input class="form-control" name="username">
                        <label class="ps-4">Username</label>
                        <span class="text-danger">@Html.ValidationMessage("username")</span>
                    </div>
                </div>
                <div class="row mb-3 mt-lg-2">
                    <div class="form-group form-floating">
                        <input class="form-control" name="password" type="password">
                        <label class="ps-4">Password</label>
                        <span class="text-danger">@Html.ValidationMessage("password")</span>
                    </div>
                </div>
                <div class="row checkbox mb-2">
                    <div class="form-group col-11 m-auto">
                        <input type="checkbox" class="form-check-input" name="rememberMe" value="true"> Remember me
                    </div>
                </div>
                <div class="row mt-lg-4">
                    <span class="text-danger">@Html.ValidationMessage("LoginError")</span>
                    <div class="form-group m-auto">
                        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Login">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


