@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Sorry, an error occured!</h1>
<hr/>
<h2 class="text-danger">Please contact a system administrator and provide details of the process that led to the error.</h2>